# MongoDB Connection URI (Local or MongoDB Atlas)
MONGODB_URI=mongodb://localhost:27017/industrialcalc
# Example Atlas: mongodb+srv://<username>:<password>@cluster0.mongodb.net/industrialcalc?retryWrites=true&w=majority

# Admin Authentication Secret
JWT_SECRET=super-secret-jwt-key-2026

# Environment Mode
NODE_ENV=production
